# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc

# Conda / venv
.env/
.venv/
*/.ipynb_checkpoints/

# Data (never store datasets in GitHub)
data/raw/
data/preprocessed/
data/uploads/
data/stream/
data/results/
data/archives/

# Docker volumes
postgres_data/
pgadmin_data/
kafka_data/
*/__pycache__/

# Editor
.vscode/
.idea/

# Secrets (make sure passwords are stored in .env, not compose)
*.env
.env.*
secrets/